name: 'テストを実行'

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 仮想ブランチにチェックアウト
        uses: actions/checkout@v5

      - name: Javaのセットアップ
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'

      - name: ./gradlewに権限を付与
        run: |
          chmod 777 ${{ github.workspace }}/gradlew
      - name: テストを実行
        run: |
          ${{ github.workspace }}/gradlew test
